@media (max-width: 1540px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1320px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
	.btn1 {
		font-size: 16px;
		padding: 6px 12px;
	}
	.btn2 {
		font-size: 16px;
		padding: 6px 12px;
	}
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
	.curve_div .box_bottom {
		bottom: -30px !important;
		height: 30px !important;
	}
	.curve_div .box_bottom .curve_bottom {
		height: 30px !important;
	}
	.curve_div .box_top .curve_right {
		height: 30px !important;
	}
	.curve_div .box_top .curve_left {
		height: 30px !important;
	}
	.curve_div .box_top {
		top: -30px !important;
	}
	.curve_div_header {
		top: -29px !important;
	}
}
@media (max-width: 400px) {
}
@media (max-width: 320px) {
}
@media (max-width: 280px) {
}
